target/*/build/*
target/spec/*
libs/*
test/*/build/*
pump_temp.py
test/*/GenCode/*.cpp
test/*/GenCode/*.h
test/*/GenCode/*/*.cpp
test/*/GenCode/*/*.h
target/*/GenCode/*.cpp
target/*/GenCode/*.h
Test/*/.vs
Test/*/out
Target/*/.vs
Target/*/out
